.editor-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.editor-column-header {
  display: flex;
  justify-content: space-between;
}

.note-options {
  display: flex;
}

.note-title-input {
  outline: thin transparent;
  border: none;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: var(--COLOR-PRIMARY-V3);
}

.editor-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

/* quill editor */
.editor-column .ql-container.ql-snow,
.editor-column .ql-toolbar.ql-snow {
  border: 1px solid var(--COLOR-PRIMARY-V3);
  border-left: 0;
}

.quill {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  flex-grow: 1;
  overflow: hidden;
  border-bottom: 0;
}
