@import url("https://adaptiveui.netlify.app/src/components/ui-lib.css");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("styles/NotesColumn.css");
@import url("styles/EditorColumn.css");

/* reset */
:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: mukta;
}

/* util classes */

.link {
  text-decoration: none;
  color: inherit;
}

.gutter-bottom-8 {
  margin-bottom: 0.5rem;
}

.gutter-bottom-16 {
  margin-bottom: 1rem;
}

.gutter-bottom-24 {
  margin-bottom: 1.5rem;
}

.gutter-bottom-32 {
  margin-bottom: 2rem;
}

/* buttons */

.btn {
  transition: background-color 0.1s ease;
}

.btn-solid-primary:hover {
  background-color: var(--COLOR-PRIMARY-V2);
}

.btn-outline-primary:hover {
  background-color: var(--COLOR-SECONDARY-V2);
}

.btn-outline-primary {
  background-color: var(--COLOR-SECONDARY);
}

.btn-solid-secondary:hover {
  background-color: var(--COLOR-SECONDARY-V3);
}

.icon-btn-wrapper {
  position: relative;
}

.icon-btn-wrapper .name {
  display: inline-block;
  opacity: 0;
  background-color: var(--COLOR-SECONDARY-V3);
  position: absolute;
  top: 3rem;
  right: 0;
  min-width: 100%;
  padding: 0 4px;
  text-align: center;
  transition: opacity 0.6s ease;
}

.icon-btn-wrapper:hover .name {
  opacity: 1;
}

/* border-bottom */
.border-bottom {
  border-bottom: 1px solid var(--COLOR-PRIMARY-V3);
}

/* padding */
.padding-default {
  padding: 8px 16px;
}

/* text ellipsis */

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* app layout */

.app {
  display: grid;
  grid-template-columns: 20rem 1fr;
  height: 100vh;
}
